body {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ebedf3;
  }
  
  .container {
    display: flex;
    border-radius: 54px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #3f33a765;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .box {
    width: 400px;
    border: 2px solid black; /* blue border */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: lightgoldenrodyellow /* light gray */
  }
  
  
  .btn:hover {
    background-color: #7859cc;
  }
  